.animated
{
    transition: 0.3s ease-in-out!important;
    transform: translateX(0px) scale(1)!important;
    opacity: 1!important;
}
.bg-my {
	background: -webkit-linear-gradient(to right, #247ce1, #FF416C) !important;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
    height: 100vh;
	width: 100%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}
a {
  text-decoration: none;
}

.bg-my::before,.bg-my::after
{
    content: "";
    height: 90vh;
    width: 33%;
    position: absolute;
    z-index: -10;
}
.bg-my::before
{
    top: 0;
    left: -5rem;
    background: linear-gradient(to right, #B63EFF,#C640FF);
    border-radius: 0 0 16rem 16rem;
}
.bg-my::after
{
    bottom: 0;
    right: -5rem;
    background: #8080800d;
    border-radius: 16rem 16rem 0 0;
}
.maindiv
{
    display: flex;
    align-items: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.mobile
{
    width: 17rem;
    min-width: 17rem;
    overflow: hidden;
    padding: 0.6rem;
    border-radius: 2rem;
    box-shadow: 10px 15px 40px #00000030;
    background: white;
    top: 9rem;
    position: absolute;
    left: 64rem;
}
.head
{
    background: linear-gradient(270deg, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    border-radius: 1.5rem 1.5rem 0.4rem 0.4rem;
    color: white;
}
.head .notch
{
    height: 1rem;
    width: 47%;
    background: white;
    margin: 0 auto 0.5rem;
    border-radius: 0 0 1rem 1rem;
}
.profilebox
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}
.profilebox .left
{
    display: flex;
    align-items: center;
}
.profilebox .left i{
    margin-right: 0.5rem;
}
.left .profile
{
    display: flex;
    align-items: center;
}
.profile img
{
    width: 1.7rem;
    height: 1.7rem;
    margin-right: 0.5rem;
    border: 2px solid #e8e8e8;
    border-radius: 100%;
}
.profile .pdetail h3
{
    font-size: 0.9rem;
    font-weight: 400;
    color: #e8e8e8;
}
.profile .pdetail p
{
    font-size: 0.6rem;
    color: #cacacac4;
    font-weight: 400;
}
.eachmessage
{
    font-size: 0.6rem;
    width: 10rem;
    padding: 0.5rem;
    margin: 0.2rem 57px;
}
.received
{
    background: #e9d8f7;
    color: #c89be0;
    border-radius: 0.7rem 0.7rem 0.7rem 0.2rem;
    box-shadow: -1px 2px 2px #00000026;
    transform: translateX(-100px) scale(0.5);
}
.sent
{
    background: #FFFEFF;
    align-self: flex-end;
    color: #ACA9B1;
    border-radius: 0.7rem 0.7rem 0.3rem 0.7rem;
    box-shadow: 1px 2px 2px #0000000f;
    transform: translateX(100px) scale(0.5);
}
.eachmessage.imgbox
{
    align-self: flex-end;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    margin: 0.3rem;
}
.eachmessage img
{
    width: 2.5rem;
    border-radius: 0.5rem;
    margin: 0.1rem;
    height: 3rem;
}

.landingpages .chatbox
{
    background: #F5F3F8;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    height: 24rem;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}
.deal
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(
90deg
, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    border-radius: 0.7rem 0.7rem 0.7rem 0.2rem;
    padding: 0.5rem;
    margin: 0.5rem 54px;
    color: white;
    width: 11rem;
    box-shadow: -1px 2px 2px #00000026;
    transform: translateX(-100px) scale(0.5);
}
.deal .det
{
    display: flex;
    align-items: center;
}
.det input
{
    border: 0;
    margin-right: 0.3rem;
}
.det p
{
    font-size: 0.7rem;
    color: #f5f5f5c9;
}
.deal .price
{
    font-size: 1.1rem;
    font-weight: 500;
}
.sendbox
{
    position: relative;
    background: #F5F3F8;
    border-radius: 0 0 1.5rem 1.5rem;
    padding: 0 0.5rem 0.5rem;
}
.sendbox input
{
    border: 0;
    outline: 0;
    background: white;
    width: 100%;
    padding: 0.7rem;
    border-radius: 2rem;
    font-size: 0.7rem;
    color: rgb(173, 173, 173);
    height: 2.3rem;
}
input::placeholder
{
    font-size: 0.7rem;
    color: rgb(173, 173, 173);
}
.sendbox button
{
    position: absolute;
    top: 0.2rem;
    right: 0.7rem;
    width: 2rem;
    height: 2rem;
    border: none;
    outline: none;
    background: #382153;
    color: white;
    border-radius: 100%;
    cursor: pointer;
}
.text
{
    width: 27rem;
    /* margin-left: 35rem; */
    position: absolute;
    top: 13rem;
    left: 36rem;
    font-family: cursive;
}
.text h1
{
    color: #412D53;
    font-size: 2.3rem;
    margin-bottom: 1rem;
    font-weight: 600;
}
.text p
{
    color: darkgrey;
    line-height: 1.7;
    font-size: 0.95rem;
}
.attribution
{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background: #000000d6;
    color: white;
    padding: 0.8rem;
    font-weight: 300;
    border-radius: 0.4rem;
    line-height: 1.5;
}
.attribution a
{
    color: whitesmoke;
    font-weight: 400;
}
.chatbox::-webkit-scrollbar {
    display: none;
  }
@media only screen and (max-width: 850px) {
    .text {
        width: auto;
        margin: 0 1rem 0 3rem;
    }
}
@media only screen and (max-width: 600px) {
    .maindiv
    {
        flex-direction: column;
        padding: 5rem 0 7rem;
    }
    body::before{
        width: 16rem;
        height: 30rem;
    }
    body::after
    {
        display: none;
    }
    .mobile
    {
        margin-bottom: 3rem;
    }
    .text
    {
        margin: 0 2rem;
        text-align: center;
    }
}

